.sorterContainer {
    margin-top: 100px;
    border: 2px solid #333;
    background: aliceblue;
    border-radius: 20px;
    padding: 40px 0 0 10px;
    height: 90px;
    overflow: hidden;
    transform-origin: center;
}

.listContainer{
    list-style: none;
    margin: auto;
    padding: auto;
    text-align: center;
    transition: all 0.5s ease;
}

.item{
    border: 1px solid black;
    border-radius: 50%;
    height: 80px;
    font-size: 2em;
    float: left;
    text-align: center;
    width: 80px;
    line-height: 80px;
    margin: 4px;
}

.selectredItem{
    font-size: 3em;
    overflow: hidden;
    border-color: #331111;
    background: #331111;
    color: #fff;
}
