@media screen and (max-width : 720px)
{
  body {
    font-size:8px;
  }
}

@media screen and (max-width : 1204px)
{
  body {
    font-size:10px;
  }
}

body {
  padding: 0px;
  margin: 0px;
}


.App {
  text-align: center;
  font-size: 1.3em;
}

h2 {
  font-size: 4em;
}

.bigBtn{
  width: 100%;
  font-size: 2em;
}

.bigField{
  width: 100%;
  font-size: 2em;
}
